nav.mt-5.mb-4
    ul.pagination.justify-content-center.d-none.d-sm-flex
        if currentPage !== 1
            li.page-item
                a.page-link(href=baseLink + '/' + (currentPage - 1) + linkExtra) &laquo;
        if currentPage - 2 > 1
            li.page-item
                a.page-link(href=baseLink + '/1' + linkExtra) 1
            li.page-item.disabled(class={ 'd-none': currentPage - 2 === 2 })
                a.page-link(href=baseLink + '/1' + linkExtra) &hellip;
        if currentPage - 2 >= 1
            li.page-item
                a.page-link(href=baseLink + '/' + (currentPage - 2) + linkExtra) #{(currentPage - 2)}
        if currentPage - 1 >= 1
            li.page-item
                a.page-link(href=baseLink + '/' + (currentPage - 1) + linkExtra) #{(currentPage - 1)}
        li.page-item.active
            a.page-link(href=baseLink + '/' + currentPage + linkExtra) #{currentPage}
        if currentPage + 1 <= maxPage
            li.page-item
                a.page-link(href=baseLink + '/' + (currentPage + 1) + linkExtra) #{(currentPage + 1)}
        if currentPage + 2 <= maxPage
            li.page-item
                a.page-link(href=baseLink + '/' + (currentPage + 2) + linkExtra) #{(currentPage + 2)}
        if currentPage + 2 < maxPage
            li.page-item.disabled(class={ 'd-none': currentPage + 2 === maxPage - 1 })
                a.page-link(href=baseLink + '/' + maxPage + linkExtra) &hellip;
            li.page-item
                a.page-link(href=baseLink + '/' + maxPage + linkExtra) #{maxPage}
        if currentPage !== maxPage
            li.page-item
                a.page-link(href=baseLink + '/' + (currentPage + 1) + linkExtra) &raquo;
    ul.pagination.justify-content-center.d-sm-none
        if currentPage - 1 > 1
            li.page-item
                a.page-link(href=baseLink + '/1' + linkExtra) 1
            li.page-item.disabled(class={ 'd-none': currentPage - 1 === 2 })
                a.page-link(href=baseLink + '/1' + linkExtra) &hellip;
        if currentPage - 1 >= 1
            li.page-item
                a.page-link(href=baseLink + '/' + (currentPage - 1) + linkExtra) #{(currentPage - 1)}
        li.page-item.active
            a.page-link(href=baseLink + '/' + currentPage + linkExtra) #{currentPage}
        if currentPage + 1 <= maxPage
            li.page-item
                a.page-link(href=baseLink + '/' + (currentPage + 1) + linkExtra) #{(currentPage + 1)}
        if currentPage + 1 < maxPage
            li.page-item.disabled(class={ 'd-none': currentPage + 1 === maxPage - 1 })
                a.page-link(href=baseLink + '/' + maxPage + linkExtra) &hellip;
            li.page-item
                a.page-link(href=baseLink + '/' + maxPage + linkExtra) #{maxPage}